@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border-color: white;
  border-width: 2px;
}

.search{
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 10px;
}