.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    width: 1000px;
    height: 90px;
    
}