.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 90px;   
}

.coin-name{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.coin-name img{
    height: 30px;
    width: 30px;
}

.coin-name p{
    text-transform: uppercase;
}

.coin-name h1{
    font-size: 15px;
}

.coin-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}